#projects {
  text-align: center;
  padding-bottom: 9rem;

  header {
    padding-block: 3.5rem;

    span {
      font: var(--subtitle);
      color: var(--red);
    }

    h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin-top: 0.5rem;
    }
  }
}

#projects-wrapper {
  grid-template-columns: repeat(3, 20.625rem);
  gap: 1.5rem;

  .project-card {
    padding: 0.75rem;
    border-radius: 0.75rem;
    background-color: var(--gray-300);

    .thumbnail {
      border-radius: 0.75rem;
      overflow: hidden;
      margin-bottom: 1.25rem;
    }

    .info {
      text-align: left;
      h3 {
        font: var(--title-sm);
        color: var(--gray-600);
        margin-bottom: 0.5rem;
      }

      p {
        font: var(--text-sm);
        color: var(--gray-500);
      }
    }
  }
}
