.container {
  width: 100%;
  max-width: 85.375rem;
  margin-inline: auto;
  padding-inline: 10.1875rem;
}
.card-info {
  text-align: left;
  h3 {
    font: var(--title-sm);
    color: var(--gray-600);
    margin-bottom: 0.5rem;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
  }
}

.grid {
  display: grid;
}

.grid-gap {
  gap: 1.5rem;
}

.text-red {
  color: var(--red);
}

.text-purple {
  color: var(--purple);
}
